* {
    margin: 0;
    padding: 0;

}

body {
    background-color: white;
    color: aqua;
}

h1 {
    font-style: italic;
}

.mybox {
    background: black;
    color: blueviolet;
    margin-bottom: 30px;
}